{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6.13"
      }
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["babel-plugin-shebang", {
      "force": true,
      "replacement": "#!/usr/bin/env node"
    }]
  ]
}